@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    height: 2000px;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

h1, h2 , h3 {
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    font-weight: 600;
}

p {
    font-weight: 400;
}


#nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #334155 ;
}

.logo-img {
    color: #F1F5F9;
}
.nav-menus a {
    color: #F1F5F9;
    text-decoration: none;
}
.nav-menus a:hover {
    color:  #0EA5E9;
}

.nav-menus {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

div.logo-img {
    align-self: flex-start;
    font-size: 30px;
}
/*banner CSS */
#banner-container {
    display: flex;
    flex-flow: row wrap;
    height: 600px;
    gap: 40px;
    justify-content: center;
    align-items: center;
    background-color: #F1F5F9;
}
.left-container {
    max-width: 500px;
    min-height: 350px;
    min-width: 200px;
    flex: 1;
}

.left-container h1 {
    font-size: 3rem;
    color: #0EA5E9;
}

.left-container p {
    font-size: 16px;
    color:  #334155;
}

.btn-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    height: 40px;
}

button {
    color: #FFFFFF;
    background-color: #F59E0B;
    border: 2px solid gray;
}

button:hover {
    color: #d97706; 
}



.btn-first {
    margin-right: 10px;
}

.right-container {
    border: 2px solid red;
    max-width: 500px;
    min-width: 200px;
    min-height: 350px;
    flex: 1;
    clip-path: ellipse(70% 40% at 50% 30%);;
    
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* About Myself */

#myself-container {
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    padding: 2rem;
}

.myself-right{
    max-width: 600px;
    padding: 10px;
}

.myself-right h2 {
    color: #0EA5E9;
    font-size: 2.25rem;
}

.myself-right p, .myself-right li {
    color: #334155;
}

.myself-right p {
    line-height: 1.5;
}

.myself-right li::marker {
    color: #0EA5E9;
}
.myself-right ul {
    padding: 10px;
    margin: 0;
}


.myself-left{
    width: 600px;
    border: 2px solid green;
}

/* Service */

#service-container {
    min-height: 600px;
}

.service-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-header p {
    width: 60%;
    text-align: center;
}

.boxes-container {
    display: flex;  
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
    min-height: 600px;
}

.service-header h2 {
    font-size: 2.25rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: #0EA5E9;
    margin-bottom: 0.75rem;
}

.boxes h3 {
    text-align: center;
    color: #0EA5E9;
    font-size: 1.5rem;
}


.boxes li {
    color: #334155;
}

.boxes li::marker {
    color: #0EA5E9;
}

.boxes {
    border: 2px solid #334155;
    width: 400px;
    height: 250px;
    padding: 20px;
    background-color: #F1F5F9;
}

ul {
    list-style: outside;
}

ul li {
    line-height: 30px;
}

/* Support */

#support-container {
    display: flex;
    flex-flow: row wrap;
    min-height: 600px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #0EA5E9;
    padding: 40px;
    color: #FFFFFF;
}

.left-support h2 {
    font-size: 2.25rem;
    text-transform: uppercase;
}
.left-support h3 {
    font-size: 1.75rem;
}
.left-support p {
    line-height: 1.5;
}

.right-support {
    width: 580px;
    border: 2px solid green;
}

.left-support {
    width: 580px;
}

